<h1 class="badge badge-secondary" style="font-size: 40px;">Bienvenido Admin</h1>
<a class="btn btn-warning" ng-click="logout()">Logout</a>
<div style="background-color: green;color: white;">
    <b>Lista de Usuarios:</b><hr />
    <table class="table">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
        </tr>
        <tr ng-repeat="user in ListUsers">
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
        </tr>

    </table>
 </div>
 <a href="#!/add_product" class="btn btn-dark">Agregar Producto</a>
 <a type = "button" href="#!/products_admin" ng-click="obtener()" class="btn btn-dark">Ver Productos</a>