<header class="header fadeInDown">
    <div class="bg-dark">
        <div class="container">
            <!--Navbar-->
            <nav class="navbar navbar-light light-blue lighten-4">
                <!-- Navbar brand -->
                <!-- Collapse button -->
                <button class="btn btn-primary btn-block  toggler-example fuente1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
                    class="fas fa-bars fa-1x"></i></span >Menu</button>
                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                        <a class="nav-link fuente1" href="#!/home" id="productosHombres">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                        <a class="nav-link fuente1" href="#" ng-click = logout()>Logout</a>
                        </li>
                    </ul>
                    <!-- Links -->
                </div>
                <!-- Collapsible content -->
            </nav>
        </div>
    </div>
</header>
<div class="container fadeInUp" ng-init = "obtener()"">
    <div class = "container" style = "display: flex;">
        <button ng-click="obtener()" class="btn btn-block">Refrescar Productos</button><br>
        <div class = "col-6" style = "display: flex;">
            <input type="text" class="form-control" ng-model="nombre_buscar" placeholder="Nombre de producto a buscar"><br>
            <button ng-click="buscar()" class="btn btn-primary">buscar</button><br>
        </div>
    </div>
    <hr>
    <h3>Lista de Productos:</h3>
    <hr>
        <table class="table table-borderless table-dark">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Stock Minimo</th>
                    <th scope="col">Stock Maximo</th>
                </tr>
            </thead>
            <tbody>
                <tr class="card-body" ng-repeat="producto in ListProducts">
                    <th >{{producto.id}}</th>
                    <th >{{producto.nombre}}</th>
                    <th >{{producto.precio}}</th>
                    <th >{{producto.detalle}}</th>
                    <th >{{producto.stock_min}}</th>
                    <th >{{producto.stock_max}}</th>
                </tr>
            </tbody>
        </table>
    <hr>
    <a href="#!/home" class="btn" style="padding-left: 45%; color: black;">Home</a>
</div>
