<div style="background-color: blue;color: white;" ng-init = "obtener()" class="container">
    <br>
    <button ng-click="obtener()" class="btn btn-block">Refrescar Productos</button><br>
    <div class = "container" style = "display: flex;">
        <div class = "col-6" style="display: flex;" >
            <input type="text" class="form-control" ng-model="nombre_delete" placeholder="id del Producto a borrar"><br>
            <button ng-click="delete()" class="btn btn-danger">delete</button><br><hr>
        </div>
        <div class = "col-6" style = "display: flex;">
            <input type="text" class="form-control" ng-model="nombre_buscar" placeholder="Nombre de producto a buscar"><br>
            <button ng-click="buscar()" class="btn btn-primary">buscar</button><br>
        </div>
    </div>
    <hr>
    <h3>Lista de Productos:</h3>
    <hr>
        <table class="table table-borderless table-dark">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Stock Minimo</th>
                    <th scope="col">Stock Maximo</th>
                </tr>
            </thead>
            <tbody>
                <tr class="card-body" ng-repeat="producto in ListProducts">
                    <th >{{producto.id}}</th>
                    <th >{{producto.nombre}}</th>
                    <th >{{producto.precio}}</th>
                    <th >{{producto.detalle}}</th>
                    <th >{{producto.stock_min}}</th>
                    <th >{{producto.stock_max}}</th>
                </tr>
            </tbody>
        </table>
    <hr>
    <a href="#!/admin" class="btn" style="padding-left: 45%; color: black;">Volver a ADM</a>
 </div>

 